<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Instrutor</th>
            <th>Local</th>
            <th>Carga Horaria</th>
            <th>Data Inicio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Angular</td>
            <td>Genival</td>
            <td>Softex</td>
            <td>36</td>
            <td>03/02/2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Java</td>
            <td>Genival</td>
            <td>Softex</td>
            <td>60</td>
            <td>03/02/2020</td>
        </tr>
    </tbody>
</table>